@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    --header-height: 65px;
}


/* GENERICS */
h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

/* MISC */
.main__container_large {
    width: 60%;
}

.main__container_small {
    width: 50%;
}

/* .button {
    padding: 10px 22px;

    max-height: 40px;
  

} */

.button {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    font-size: 13px;
	padding: 10px 20px;
	display: inline-block;
}

.button--blue {
    background-color: #0061ff;
    color: white;
    border-style: none;
}

/* HEADER */
.header__container {
    /* to-do:. remove height. let children padding determine height */
   height: var(--header-height);
}

.header__logo {
    vertical-align: middle;
}

.header__item {
    line-height: var(--header-height);
    vertical-align: middle;
}

.header__item > .horizontal-list > li {
    margin: 0px 0.95em;
    color: #212121;

}


/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 70px;
}

.jumbotron__container {
}

.jumbotron__left_col {
    float: left;
    width: 30%;
}

.jumbotron__container > img {
    float: right;
    width: 70%;
    height: auto;
    margin-bottom: -60px;
}


/* BUSINESS PLANS */
.plans {
    gap: 35px;
    margin-top: 2em;
}

.plans__card {
    /* width: calc((100%/3) - 30px); */
    flex-basis: calc(100%/3);
    min-height: 100px;
    margin-bottom: 50px;
    border: 1px solid rgba(0,0,0,0.2);
}

.card__content {
    margin: 20px 25px;
}

.plans__card > h3 {
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
}

.card__title {
    font-size: 1.4em;
}

.card__price {
    font-weight: 700;
    font-size: 11px;
    margin: 10px 0;
}

.card__frequency {
    opacity: 0.5;
    font-size: 11px;
}

.card__content > ul > li {
    font-size: 11px;
    margin: 1em 0;
}

.card__content .purchase_button {
    font-size: 11px;
}

.card__content > hr {
    width: 30%;
    margin: 2em 0;
}

.card__highlights > li:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px 10px;;
    background-image: url(../img/highlights_checkmark.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
}

/* ENTERPRISE PLAN */
.card_enterprise_col1 {
    width: 70%;
    margin-right: 25px;
}

.card_enterprise_col2 {
    width: 30%;
}

.enterprise__button {
    width: 80%;

}