@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* GENERICS */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

a {
    color: #0061ff;
    text-decoration: dashed;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 40px;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
}

/* MISC */
.main__container_large {
    width: 60%;
}

.main__container_small {
    width: 50%;
}

.button {
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.button--blue {
    background-color: #0061ff;
    color: white;
    border-style: none;
    width: 100%
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}


/* HEADER */
.header__container {
    position: fixed;
    z-index: 100;
    top: 0%;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__logo {
}

.header__logo > img  {
    display: block;
}

.header__item {
    /* line-height: var(--header-height);
    vertical-align: middle; */
}

.header__item>.horizontal-list>li {
    margin: 0px 0.95em;
    color: #212121;

}


/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 70px;
}


.jumbotron__left_col {
    float: left;
    width: 30%;
}

.jumbotron__container>img {
    float: right;
    width: 70%;
    height: auto;
    margin-bottom: -60px;
}


/* BUSINESS PLANS */
.plans {
    gap: 35px;
    margin-top: 2em;
}

.plans__card {
    /* width: calc((100%/3) - 30px); */
    flex-basis: calc(100%/3);
    min-height: 100px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card__content {
    margin: 20px 25px;
}

.plans__card>h3 {
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
}

.card__title {
    font-size: 1.4em;
}

.card__price {
    font-weight: 700;
    font-size: 11px;
    margin: 10px 0;
}

.card__frequency {
    opacity: 0.5;
    font-size: 11px;
}

.card__content>ul>li {
    font-size: 11px;
    margin: 1em 0;
}

.card__content .button {
    font-size: 11px;
}

/* .card__content > hr { */
hr {
    width: 20%;
    margin: 2em 0;
}

.card__highlights>li:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px 10px;
    ;
    background-image: url(../img/highlights_checkmark.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
}


/* PARTNERS */
.partners {
    margin-top: 8em;
    margin-bottom: 8em;
}

.partners img {
    width: 500px;
    height: auto;
}

.partners .main__container_small {
    gap: 25px;
}

.partners .w-35 {
    flex-direction: column;
    gap: 20px;
}


/* FEATURES */
.feature {
    flex-basis: calc((100%/3) - 35px);
    min-height: 30px;
    /* background-color: grey;
    border: 1px dashed black; */
}

.features__section .flex {
    gap: 50px;
}

/* .features__section > .main__container_small > h2 {
    font-size: 2.5em;
} */

.feature h2 {
    padding-bottom: 20px;
}


/* CUSTOMERS */
.customers {
    margin-top: 150px;
}


/* customers blocks */
.customers__block {
    width: calc(100%/3);
    background-color: #f5f5f5;
}

.customers__quote {}

.customers__logos {
    display: flex;
    flex-wrap: wrap;
}

.customers__logos>div {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.customers__logos>div>img {
    width: 50%;
    height: auto;
    filter: invert(100%);
}

/* logo divs */
.designit {
    background-color: #a2d39b;
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.asu {
    background-color: #61082b;
}

.uof {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.wbr {
    background-color: #d5001f;
}

.hearst_corp {
    background-color: #b4d0e7;
}

.lonely_planet {
    background-color: #0d2481;
}

.clear_channel {
    background-color: #ffd830;
}

/* customers ad */
.customers__ad {
    background-color: #b4d0e7;
    padding: 80px 0;
    gap: 100px;
}

.customers__ad>h2 {
    color: #61082b;
    display: inline-block;
    width: 30%;
    /* line-height: 1; */
}

.customers__ad>.button {
    border-style: none;
    display: inline-block;
    width: 15%;
}


/* FAQS */
.faqs {
    padding: 80px 0;
}

.faqs li {
    padding: 30px 0;
    border-top: 1px grey solid;
    font-weight: 700;
}

.faqs li:last-child {
    border-bottom: 1px grey solid;
}

.faqs li::after {
    --size: 11px;
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;

    width: var(--size);
    height: var(--size);
    background-size: var(--size);

    margin-left: 25%;
}


.question {
    background-color: white;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.question>p {
    font-weight: 600;
}

.question>button {
    border-style: none;
    background-color: white;
}

/* FOOTER */
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 60px;
    padding-bottom: 40px;
}

footer hr {
    width: 10%;
    border-color: rgba(255, 255, 255, 0.5);
}

.footer__links {
    flex-basis: calc(100%/5);
    margin-bottom: 60px;
}

.footer__links li:first-child {
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 25px;
}

.footer__links li {
    margin: 15px 0;
}

.footer__links li a {
    text-decoration: none;
    color: white;
}

.lang {
    width: 20%;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
}