@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}


/* GENERICS */
h1 {
    font-size: 5em;
    font-weight: 800;
    margin-bottom: 40px;
}

/* MISC */
.main__container_large {
    width: 60%;
}

.main__container_small {

}

.purchase_button {
    background-color: #0061ff;
    color: white;
    border-style: none;
    padding: 10px 22px;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
}


/* HEADER */

.header__container {
   height: 90px;
}

.header__logo {
    vertical-align: middle;
}

.header__item {
    line-height: 90px;
    vertical-align: middle;
}

.header__item > .horizontal-list > li {
    margin: 0px 0.95em;
    color: #212121;
}


/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 70px;
}

.jumbotron__container {
}

.jumbotron__left_col {
    float: left;
    width: 30%;
}

.jumbotron__container > img {
    float: right;
    width: 70%;
    height: auto;
}

